<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Weather App</h1>
<ul>
    <li><a href="/weather/London">London</a></li>
    <li><a href="/weather/New York">New York</a></li>
    <li><a href="/weather/Tokyo">Tokyo</a></li>
    <li><a href="/weather/Kyiv">Kyiv</a></li>
</ul>
</body>
</html>
